@import url(../runo/styles.css);

.v-display-none{
	display:none;
}


.scaled-image-width{
	width:350px;
}

.v-table-row-green {
    background: lightgreen;
}

.v-table-row-red {
    background: red;
}

.v-table-row-blue {
    background: lightblue;
}
