db.driverClassName=com.mysql.jdbc.Driver
db.url=jdbc:mysql://localhost:3306/database_for_differ
db.username=user_for_differ
db.password=password_for_differ
#working directory for differ
differ.home=/home/user/tmp
#optional parameters below - can be left empty
kdu_expand.binary=/home/user/software/kakadu/bin/kdu_expand
jhove.binary=/home/user/jhove/jhove.sh
jhove.xsl=/home/user/jhove/jhove.xsl
